body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    background-image: url("https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    margin: 1rem auto;
    background-color: darkslategray;
}

.grid{
    display: grid;
    margin-left:.5px ;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.2em;
    justify-content: center;
}

@media screen and (max-width:980px) {
    .grid{
        grid-template-columns: repeat(3,1fr);
    }  
}

@media screen and (max-width:798px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }  
}
